
.form{
    width: 250px;
    border: 2px solid black;
    padding: 25px;
}

.elements{
    font-size: large;
}

.viewForm{
    margin-top: 25px;
    border: 2px solid black;
    width: 300px;
}

.formElements{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
}

p{
    color :rgb(81, 87, 126)
}